* {
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 12px;
    width: 100%;
}

.header {
    padding-top: 30px;
    padding-bottom: 24px;
}

.header-burger {
    width: 30px;
    height: 19px;
    display: none;


}

.header-box {
    display: flex;
    justify-content: space-between;

}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.header-controls {
    display: block;
}

.header-logo span {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 6px;

}

.btn {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline {

    background-color: transparent;
}

.btn-primary {
    background-color: #256EEB;
    color: white;


}

@media (max-width: 1200px) {
    .container {
        max-width: 993px;
    }

}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }

}

@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }

    .header-burger {

        display: block;
    }


    .header-controls {
        display: none;
    }

}